label{
    font-size: 1.8em;
    display: block;
    padding-top:1.4em;
    margin-right: 0.2em;
}
img{
    width:16em
}
.menu{
    margin-top:-0.5em;
}
.menu a{
    font-size:1em;
    border-bottom: 0.1px solid white
}