label{  
    display: none
}
.header{
    background-color:#F1F1F1;
    height: 20vh;
}
.menu{
    margin-top:5em;
    background-color: #0fa5d9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
}
.menu a:first-child{
    padding:0.5em 0em;
}
.menu a{
    display: inline;
    padding:0.5em 0em;
    color:white;
    font-size: 1.2em;
    text-align: center;
    margin:0;
    border-bottom: 0
}

.menu a:hover{
    background:#86c5da;
    color:white;
    transition-delay: 50ms;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}
