/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/Poppins-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}


input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

textarea:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-complaint_system {
    width: 100%;
    background: rgb(210,230,255);
    background: -moz-linear-gradient(13deg, rgba(210,230,255,1) 30%, rgba(165,185,255,1) 50%, rgba(0,25,255,1) 90%);
    background: -webkit-linear-gradient(13deg, rgba(210,230,255,1) 30%, rgba(165,185,255,1) 50%, rgba(0,25,255,1) 90%);
    background: linear-gradient(13deg, rgba(210,230,255,1) 30%, rgba(165,185,255,1) 50%, rgba(0,25,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2e6ff",endColorstr="#0019ff",GradientType=1);

}

.container-complaint_system {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);

}

.wrap-complaint_system {
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 55px 65px 55px;
}


/*------------------------------------------------------------------
[  ]*/

.complaint_system-form {
    width: 100%;
}

.complaint_system-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 70px;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input3 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 27px;
}

.input3 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    padding: 0 5px;
}

.focus-input3 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input3::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #fff;
}


/*---------------------------------------------*/
input.input3 {
    height: 45px;
}


textarea.input3 {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
}


.input3:focus+.focus-input3::before {
    width: 100%;
}

.has-val.input3+.focus-input3::before {
    width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.container-complaint_system-form-btn {
    padding-top: 23px;
}

.complaint_system-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    min-width: 120px;
    height: 50px;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    background: rgb(210,230,255);
    background: -moz-linear-gradient(11deg, rgba(210,230,255,1) 15%, rgba(165,185,255,1) 35%, rgba(0,25,255,1) 90%);
    background: -webkit-linear-gradient(11deg, rgba(210,230,255,1) 15%, rgba(165,185,255,1) 35%, rgba(0,25,255,1) 90%);
    background: linear-gradient(11deg, rgba(210,230,255,1) 15%, rgba(165,185,255,1) 35%, rgba(0,25,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2e6ff",endColorstr="#0019ff",GradientType=1);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.complaint_system-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.complaint_system-form-btn:hover {
    color: #fff;
}

.complaint_system-form-btn:hover:before {
    opacity: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-complaint_system {
        padding: 72px 15px 65px 15px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ Restyle Select2 ]*/

.select2-container {
    display: block;
    max-width: 100% !important;
    width: auto !important;
}

.select2-container .select2-selection--single {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 45px;
    outline: none;
    position: relative;
}

/* in select */
.select2-container .select2-selection--single .select2-selection__rendered {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    padding-left: 5px;
    background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select2-selection__arrow b {
    display: none;
}

.select2-selection__arrow::before {
    content: '';
    display: block;

    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #e6e6e6;
    margin-bottom: 2px;
}

.select2-selection__arrow::after {
    content: '';
    display: block;

    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #e6e6e6;
}

/* dropdown option */
.select2-container--open .select2-dropdown {
    z-index: 1251;
    border: 1px solid #fff;
    border-radius: 0px;
    background-color: white;
}


.select2-container .select2-results__option[aria-selected] {
    padding-top: 10px;
    padding-bottom: 10px;
}

.select2-container .select2-results__option[aria-selected="true"] {
    background: rgb(210,230,255);
    background: -moz-linear-gradient(11deg, rgba(210,230,255,1) 15%, rgba(165,185,255,1) 35%, rgba(0,25,255,1) 90%);
    background: -webkit-linear-gradient(11deg, rgba(210,230,255,1) 15%, rgba(165,185,255,1) 35%, rgba(0,25,255,1) 90%);
    background: linear-gradient(11deg, rgba(210,230,255,1) 15%, rgba(165,185,255,1) 35%, rgba(0,25,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2e6ff",endColorstr="#0019ff",GradientType=1);
    color: white;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
    background: rgb(210,230,255);
    background: -moz-linear-gradient(11deg, rgba(210,230,255,1) 15%, rgba(165,185,255,1) 35%, rgba(0,25,255,1) 90%);
    background: -webkit-linear-gradient(11deg, rgba(210,230,255,1) 15%, rgba(165,185,255,1) 35%, rgba(0,25,255,1) 90%);
    background: linear-gradient(11deg, rgba(210,230,255,1) 15%, rgba(165,185,255,1) 35%, rgba(0,25,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2e6ff",endColorstr="#0019ff",GradientType=1);
    color: white;
}

.select2-results__options {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
}

.select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: none;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
}